@tailwind base;
@tailwind components;
@tailwind utilities;

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-shadow {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

@font-face {
  font-family: "PretendardVariable";
  src: url("./asset/fonts/PretendardVariable.ttf") format("truetype");
}
