@tailwind base;
@tailwind components;
@tailwind utilities;

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@font-face {
  font-family: "PretendardVariable";
  src: url("./asset/fonts/PretendardVariable.ttf") format("truetype");
}
